<div class="app-shell">
  <p-toast />
  <p-confirmdialog />

  <header class="app-shell-topbar">
    <p-menubar [model]="menuItems">
      <ng-template pTemplate="start">
        <span class="brand ml-3">
          <span class="brand-mark"><i class="pi pi-graduation-cap"></i></span>
          תלמידון
        </span>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex align-items-center gap-3">
          <app-notifications-bell />
          <app-theme-toggle />
          <app-user-menu [name]="fullName()" roleLabel="מורה" (logout)="logout()" />
        </div>
      </ng-template>
    </p-menubar>
  </header>

  <main class="app-shell-content">
    <router-outlet />
  </main>
</div>
