<div class="app-shell">
  <p-toast />
  <p-confirmdialog />

  <header class="app-shell-topbar">
    <p-menubar [model]="menuItems">
      <ng-template pTemplate="start">
        <a routerLink="/" class="brand ml-3">
          <span class="brand-mark"><i class="pi pi-shield"></i></span>
          תלמידון · ניהול מערכת
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
          <app-theme-toggle />
          <app-user-menu [name]="email()" roleLabel="מנהל מערכת" (logout)="logout()" />
        </div>
      </ng-template>
    </p-menubar>
  </header>

  <main class="app-shell-content">
    <router-outlet />
  </main>
</div>
